.book-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.book-card:hover{
    transform: translateY(-10px);
    border: 2px solid #000;
    cursor: pointer;
}

.book-info{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;
}

.book-info small{
    font-weight: 500;
    font-size: 0.9rem;
}