.login-form {
    border: 2px solid #000000;
    box-sizing: border-box;
    padding: 10px 25px;
    width: 100%;
    max-width: 443px;
    height: 480px;
    display: flex;
    flex-direction: column;
}

.form-logo-box {
    margin: 0 auto;
}

.login-form h3{
    padding-top: 31px;
    padding-bottom: 58px;
    margin: 0 auto;
}

.form-inputs-box{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.login-inputs {
    width: 100%;
    padding: 10px;
    background: #FFFFFF;
    border: 1px solid #000000;
}

.sign-up-link{
    color: #4BC1D2;
    cursor: pointer;
}

.forgot-password{
    text-align: center;
    margin-top: auto;
}

.sign-up-link:hover{
    opacity: 0.8;
}