.sign-up-form {
    border: 2px solid #000000;
    box-sizing: border-box;
    padding: 15px 30px;
    width: 100%;
    max-width: 443px;
    height: 480px;
    display: flex;
    flex-direction: column;
}

.sign-up-form h3{
    padding-top: 31px;
    padding-bottom: 35px;
    margin: 0 auto;
}

.form-inputs-box {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sign-inputs {
    width: 100%;
    padding: 10px;
    background: #FFFFFF;
    border: 1px solid #000000;
}