.user-shelve-container {
    padding-top: 2rem;
}

.user-shelve-container h2 {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    padding-bottom: 1rem;
    color: #000;
}

.shelve-container {
    margin-bottom: 10px;
}

.no-books {
    padding: 2rem 0 4rem 0;
}

.no-color-link {
    color: inherit;
    text-decoration: none;  
  }