.info-content {
    padding-top: 20px;
}

.title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
}

.title-row dt {
    font-weight: bold;
    font-size: 1.2rem;
}

.info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-row dt {
    font-weight: bold;
    text-align: left;
    padding-right: 15px;
}

.info-row dd {
    margin: 0;
    text-align: right;
}