.book-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-info{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;
}

.book-info small{
    font-weight: 500;
    font-size: 0.9rem;
}