.container h2 {
    padding-top: 80px;
    padding-bottom: 20px;
}

.data-row {
    display: flex;
    justify-content: space-between;
    max-width: 250px;

}

.data-row dt {
    font-weight: bold;
}

.data-row dd {
    color: #605656;
}