header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0 0 0;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 1.7rem;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-right .menu-links {
    display: flex;
    list-style: none;
    cursor: pointer;
    gap: 15px;
}

.header-right .menu-links li:hover {
    font-weight: bold;
    border-bottom: 1px solid #000;
}

.selected {
    font-weight: bold;
    border-bottom: 1px solid #000;
}

.login-icon {
    color: #000;
}