.container {
    padding-top: 30px;
    display: flex;
}

.genre-highlight {
    font-weight: bold;
    margin-right: 10px;
}

.genre-box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.genre {
    color: #605656;
    font-weight: 500;
}

.genre:hover {
    cursor: pointer;
    text-decoration: underline;
}

.more {
    font-weight: bold;
}

.more:hover {
    cursor: pointer;
    text-decoration: underline;
}